@import url("./assets/css/circular-font.css");
body {
  font-family: "Circular" !important;
}
.page {
  top: 50%;
  left: 50%;
}

.main-page {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 68px;
}

.indipendent-scroll {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

.indipendent-scroll-2 {
  position: sticky;
  overflow-y: scroll;
  height: 100vh;
}

.hiding-bar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.hiding-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smooth-carousel {
  scroll-behavior: smooth;
}

.smooth-carousel img {
  transition: all 500ms ease;
}

.smooth-carousel img:hover {
  transform: scale(0.95);
  z-index: 10;
  position: relative;
}

.arrow-left,
.arrow-right {
  z-index: 2;
}

.arrow-right {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.arrow-left {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

/*CSS footer homepage*/
.footer-mainpage ul li:first-child {
  font-weight: 700;
}
.footer-mainpage ul li {
  margin-bottom: 0.5em;
}

.footer-mainpage a {
  text-decoration: none;
  color: grey;
}

/* css di ale  */
/* carosello  */

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;

  flex-grow: 1;
  min-width: 0;
}

.scroll-container button {
  flex-shrink: 0;
  white-space: nowrap;
}

.scroll-container::-webkit-scrollbar {
  height: 6px;
}

/* fine carosello  */

/* css di Alessandro */
/* navbar  */
body {
  background-color: #000;
  font-family: sans-serif;
}

/* Casetta con effetto rilievo e hover */
.btn-home {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #2a2a2a;
  border: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-home:hover {
  transform: scale(1.06); /* Si porta avanti l'icona */
  background-color: #3e3e3e;
}

/* Avatar circolare */
.btn-circle-32 {
  width: 32px;
  height: 32px;
  background: #d29062;
  font-size: 13px;
  cursor: pointer;
}

/* Personalizzazione barra di ricerca */
.search-input {
  background: #242424;
  border: 0;
  border-radius: 500px;
  padding: 12px 48px;
  height: 48px;
}
.search-input:focus {
  box-shadow: 0 0 0 2px #fff !important;
  background: #2a2a2a !important;
}

.search-divider {
  right: 48px;
  top: 25%;
  height: 50%;
  width: 1px;
  background: #404040;
}

/* Filtri versione mobile */
.btn-spotify-chip {
  background-color: #2a2a2a;
  color: white;
  border: none;
  border-radius: 500px;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.btn-spotify-chip.active {
  background-color: #1ed760;
  color: black;
}

@media (max-width: 768px) {
  .search-box,
  .btn-arrows,
  .nav-icons-desktop {
    display: none;
  }
  .center-group {
    justify-content: flex-start !important;
    flex-grow: 0;
    margin-left: 0;
  }
}

/* fine navbar */

.swiper {
  width: 600px;
  height: 300px;
}
/* Video sezione fine pagina */
.video-top {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.video-bottom {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
#gradientheart {
  background: linear-gradient(135deg, #3b0af5, #8e8cfb, #c4efd9);
}
.list-group-item,
.card {
  border: transparent;
}
nav {
  height: 68px;
}

.hidden_element {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.sidebar_end:hover .hidden_element {
  opacity: 1;
  visibility: visible;
}

.foto_hidden_el {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.foto_show_el:hover .foto_hidden_el {
  opacity: 1;
  visibility: visible;
}

.last_footer {
  font-size: 12px;
}

.collapsed {
  transform: translateX(100%);
  transition: 0.3s ease;
}
/* --- media player --- */
#range3.form-range,
#volumeBar.form-range {
  background-image: none !important;
  background-color: #535353;
}
#range3,
#volumeBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background: #535353;
}

/* pallino*/
#range3::-webkit-slider-thumb,
#volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#range3:hover::-webkit-slider-thumb,
#volumeBar:hover::-webkit-slider-thumb {
  opacity: 1;
}

#range3:active,
#range3:hover {
  height: 4px;
}
#greenPlay {
  opacity: 0.5;
}
#central-part,
#sidebar_start,
#sidebar_end {
  border: transparent;
  border-radius: 2em;
}
/* html{
  scrollbar-color: rgb(240, 238, 238) rgba(0, 0, 0, 0.00);
  scrollbar-width:thin;
} */
